<section>
    <form [formGroup]="credentials">
        <div class="header">
            <div routerLink="/" style="display: flex; justify-content: center;">
                <img src="logo.svg" alt="Box" height="200" class="cursor-pointer">
            </div>
            <h2>Iniciar sesión</h2>
        </div>
        <div class="inputs">
            <mat-form-field>
               <mat-label>Usuario o correo electrónico</mat-label> 
               <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field>
               <mat-label>Contraseña</mat-label> 
               <input matInput formControlName="password">
            </mat-form-field>
        </div>
        <div class="actions">
            <button mat-flat-button type="button" (click)="onClickSend()">
                Iniciar sesión
            </button>
            <button mat-button routerLink="/registrarse" type="button">
                Registrarse
            </button>
        </div>
    </form>
</section>
<footer>
    <div class="content" style="display: flex; justify-content: center; align-items: center; column-gap: .5em;">
        <div>
            <img src="logo-novah.svg" alt="Novah.dev" height="25">
        </div>
        <div>
            Copyright © 2024 by Novah.dev
        </div>
    </div>
</footer>