:host {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 100%;
        max-width: 400px;
        .inputs, .actions {
            display: flex;
            flex-direction: column;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: .5em 1em;
}