@for (gym of list(); track $index) {
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar">
                <img height="50" [src]="gym.avatar" [alt]="gym.name">
            </div>
            <mat-card-title>
                {{gym.name}}
            </mat-card-title>
            <mat-card-subtitle>
                {{gym.city}}
            </mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>
            @if(gym.googleMaps){
                <a [href]="gym.googleMaps" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: inherit;">
                    <i class="fa-solid fa-location-dot"></i>
                    Como llegar
                </a>
            }
        </mat-card-content>
    
        <mat-card-actions>
            @if (gym.whatsApp){
                <a [href]="gym.whatsApp" mat-button target="_blank">Contactar por WhatsApp</a>
            } @else {
                <button mat-button disabled>Contactar por WhatsApp</button>
            }
        </mat-card-actions>
    </mat-card>
}
