div {
    display: flex;
}

input {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: right;
    color: currentColor;
    min-width: 0;
    &:disabled {
        color: var(--mdc-filled-text-field-disabled-input-text-color);
    }
}