
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import "@angular/material/prebuilt-themes/azure-blue.css";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$red-palette,
    tertiary: mat.$chartreuse-palette,
  ),
  density: (
    scale: 0,
  )
));

// Dark theme
// Define the theme object.
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$azure-palette,
    tertiary: mat.$chartreuse-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($light-theme);
  --body-background-color: #FFFFFF;
  --body-color: #1F1F1F;
  
  --aside-background-color: #F3F6FC;
  --footer-color: #F3F6FC;
  --footer-background-color: #BE1622;

  // Variables Material
 --mat-form-field-container-height: 36px;
 --mat-form-field-container-vertical-padding: 8px;

 --mdc-chip-container-height: 100%;

 --mdc-outlined-button-container-shape: 8px;
 --mdc-outlined-text-field-container-shape: 8px;
}

.dark-theme {
  --body-background-color: #1F1F1F;
  --body-background-color: #0D0F15;
  --body-color: #e3e3e3;

  --aside-background-color: #2D2F31;
  --footer-background-color: #004A77;;
  --footer-color: #F3F6FC;

  @include mat.all-component-colors($dark-theme);
}


html, body { height: 100%; }
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    background-color: var(--body-background-color);
    color: var(--body-color);
    scroll-behavior: none;
}

h1 {
  font-size: 1.7em!important;
  font-weight: 500;
}

h2 {
  font-size: 1.5em!important;
}

h3 {
  font-size: 1.3em!important;
}

.cursor-pointer {
  cursor: pointer;
}

.mat-input-low.mat-form-field-appearance-outline {
  --mat-form-field-container-height: 30px;
  --mat-form-field-container-vertical-padding: 6px;
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.mdc-evolution-chip-set .mdc-evolution-chip {
  height: 100%;
}

.mdc-evolution-chip-set .mdc-evolution-chip {
  margin: 2px 2px!important;
  border-radius: 5px;
}

.mat-mdc-menu-panel {
  border:1px solid #424242!important;
}