.panel {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1em;
}

.result {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(min(100%, 250px), 1fr));
    width: 100%;
    gap: .5em;
}

.name {
    font-size: 1.3em;
    font-weight: 500;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.athlete-info-container {
    display: flex;
    column-gap: .5em;
    align-items: center;
    .avatar {
        background-color: rgb(75, 72, 72);
        aspect-ratio: 1;
        border-radius: 50%;
        height: 50px;
        // height: 30px;
    }
    .info {
        .title {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: .3em;
        }
    }
    
    .verified {
        color: #0774b8;
        // font-size: .8em;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-certificate {
            font-size: .8em;
        }
        .check {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            color: white;
            font-size: .5em;
        }
    }
}