<app-page>
    <app-page-content class="result">
        @for (athlete of list(); track $index) {
            <mat-card (click)="onClickPreview(athlete)" style="overflow: hidden;">
                <mat-card-content>
                    <div class="athlete-info-container">
                        <div class="avatar">
                            <!-- <img src="kanuth.png"> -->
                        </div>
                        <div class="info">
                            <div class="title">
                                <div class="name">{{athlete.alias ?? (athlete.name + ' ' + athlete.lastName)}}</div>

                                @if (athlete.verified) {
                                    <div class="verified">
                                        <i class="fa-solid fa-certificate"></i>
                                        <div class="check">
                                            <i class="fa-solid fa-check"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="sub-info">
                                <div class="flag">
                                    <img src="co.svg">
                                </div>
                                <div class="category">
                                    {{athlete.category.name}}
                                </div>
                            </div>
                        </div>


                    </div>
                </mat-card-content>
            </mat-card>
        }
    </app-page-content>
</app-page>