<h2 mat-dialog-title>{{name()}} @if(abbreviation()){ (<strong>{{abbreviation()}}</strong>) }</h2>
<mat-dialog-actions>
    @if (description()) {
        <p>
            {{description()}}
        </p>
    }
</mat-dialog-actions>
<mat-dialog-actions>
    <button mat-button disabled>Ver mas información</button>
    <a mat-flat-button [disabled]="!urlYouTube()" target="_blank" [href]="urlYouTube()">
        <i class="fa-brands fa-youtube"></i>
        <span>Ver video</span>
    </a>
</mat-dialog-actions>