.panel {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1em;
}

.result {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(min(100%, 250px), 1fr));
    width: 100%;
    gap: .5em;
}

.workout-info {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    .name {
        .english {
            font-size: 1.4em;
        }
    }

}

@media screen and (max-width: 788px) {
    button {
        span {
            display: none;
        }
    }
}