<section>
    <form [formGroup]="formGroup">
        <div class="header">
            <div class="cursor-pointer" routerLink="/" style="display: flex; justify-content: center;">
                <img src="logo.svg" alt="Box" height="200">
            </div>
            <h2>Registro de cuenta</h2>
        </div>
        <div class="inputs">
            <mat-form-field>
               <mat-label>Nombre</mat-label> 
               <input matInput formControlName="name" class="capitalize">
            </mat-form-field>
            <mat-form-field>
               <mat-label>Apellido</mat-label> 
               <input matInput formControlName="lastName" class="capitalize">
            </mat-form-field>
            <mat-form-field>
               <mat-label>Alias o nombre corto</mat-label> 
               <input matInput formControlName="alias" class="capitalize">
            </mat-form-field>
            <mat-form-field>
               <mat-label>Fecha de nacimiento</mat-label> 
               <input matInput formControlName="birthdate" type="date">
            </mat-form-field>

            <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(min(100%, 5em), 1fr)); column-gap: 1em;">
                <mat-form-field>
                    <mat-label>Sexo</mat-label> 
                    <mat-select formControlName="sex">
                        <mat-option value="M">M</mat-option>
                        <mat-option value="F">F</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Altura(cm)</mat-label> 
                    <mat-input-number matInput formControlName="tall"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Peso(Kg)</mat-label> 
                    <mat-input-number matInput formControlName="weight"/>
                </mat-form-field>
            </div>
            
            <mat-form-field>
                <mat-label>País de origen</mat-label> 
                <mat-select formControlName="country">
                    @for (country of countries(); track $index) {
                        <mat-option [value]="country.code">{{country.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-divider style="margin-bottom: 1em;"/>

            <mat-form-field>
                <mat-label>usuario</mat-label> 
                <input matInput formControlName="username">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Correo electrónico</mat-label> 
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Teléfono móvil</mat-label> 
                <mat-input-cellphone matInput formControlName="cellphone"/>
            </mat-form-field>
            
            
            <mat-divider style="margin-bottom: 1em;"/>

            <mat-form-field>
               <mat-label>Contraseña</mat-label> 
               <input matInput formControlName="password" [type]="hiddenPW.checked ? 'text' : 'password'"/>
            </mat-form-field>

            <mat-form-field>
               <mat-label>Confirmar contraseña</mat-label> 
               <input matInput formControlName="confirmPassword" [type]="hiddenPW.checked ? 'text' : 'password'"/>
            </mat-form-field>

            <mat-checkbox #hiddenPW style="color: inherit; padding-bottom: 1em;"><span style="color: whitesmoke;">Mostrar contraseñas</span></mat-checkbox>
        </div>
        <div class="actions">
            <button mat-flat-button (click)="onSave()">
                Registrarse
            </button>
            <button mat-button routerLink="/login">
                Iniciar sesión
            </button>
        </div>
    </form>
</section>
<footer>
    <div class="content" style="display: flex; justify-content: center; align-items: center; column-gap: .5em;">
        <div>
            <img src="logo-novah.svg" alt="Novah.dev" height="25">
        </div>
        <div>
            Copyright © 2024 by Novah.dev
        </div>
    </div>
</footer>