:host {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%;
    padding: 1em;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    form {
        width: 100%;
        max-width: 400px;
        .inputs, .actions {
            display: flex;
            flex-direction: column;
        }

        .actions {
            row-gap: .5em;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
}