<app-page>
    <app-page-content>
        <form [formGroup]="formGroup">
            <div class="inputs">

                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastName"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Alias o nombre corto</mat-label>
                    <input matInput formControlName="alias"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput type="date" formControlName="birthdate"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sex">
                        <mat-option value="M">M</mat-option>
                        <mat-option value="F">F</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Altura(cm)</mat-label>
                    <mat-input-number matInput formControlName="tall"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Peso(Kg)</mat-label>
                    <mat-input-number matInput formControlName="weight"/>
                </mat-form-field>
                <mat-divider style="padding-bottom: 1em;"/>
    
                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="username"/>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="email"/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Teléfono</mat-label>
                    <mat-input-cellphone matInput formControlName="cellphone"/>
                </mat-form-field>
            </div>

            <div class="actions">
                <button type="button" mat-button (click)="onClickSave()">Guardar cambios</button>
            </div>
        </form>
    </app-page-content>
    <!-- <app-page-footer>
    </app-page-footer> -->
</app-page>