form {
    padding-top: 1em;

    .inputs {
        display: flex;
        flex-direction: column;
        section {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
            gap: 1em;
        }
    }
    
    .actions {
        display: flex;
        flex-direction: column;
    }
}