<h2 mat-dialog-title>{{data.alias ?? data.name + ' ' + data.lastName}}</h2>
<mat-dialog-content> 
    <div>
        <!-- <div>
            Nombre: {{data.name}}
        </div>
        <div>
            Apellido: {{data.lastName}}
        </div> -->
        <div style="display: flex; column-gap: 1em;">
            <div>
                Edad: {{data.birthdate | age}}
            </div>
            <div>
                Altura: {{data.tall}} cm
            </div>
            <div>
                Peso: {{data.weight}} Kilos
            </div>
        </div>

        <section class="rms">
            @if (loadingRMs()){
                <div style="width: 100%; display: flex; justify-content: center;">
                    <div style="display: flex; align-items: center; column-gap: 1em;">
                        <mat-spinner diameter="30"/>
                        <div style="font-size: 1.1em;">Cargando RMs</div>
                    </div>
                </div>
            } @else {
                <ul>
                    @for (rm of rms(); track $index) {
                        <li>
                            <div>{{rm.nameInEnglish}}</div>
                            @if (rm.record) {
                                <div>{{rm.record.weightInKilos}} Kg / {{rm.record.weightInPounds}} Lbs</div>
                            } @else {
                                <div>Sin Datos</div>
                            }
                        </li>
                    } @empty {
                        No tiene registros de RMs
                    }
                </ul>
            }
        </section>
    </div>
</mat-dialog-content>