<header>
    <div class="logo cursor-pointer" routerLink="/">
        <img src="logo.svg" alt="" height="40">
        <!-- Box -->
    </div>
    <nav>
        @for (item of navItems(); track $index) {
            <a routerLink="/rms" routerLinkActive="active">
                <i class="fa-solid fa-clipboard-list"></i>
                RMs
            </a>
        }
        <a routerLink="/ejercicios" routerLinkActive="active">
            <i class="fa-solid fa-dumbbell"></i>
            Ejercicios
        </a>
        <a routerLink="/wods" routerLinkActive="active">
            <i class="fa-solid fa-weight-hanging"></i>
            WODs
        </a>
        <a routerLink="/gyms" routerLinkActive="active">
            <i class="fa-solid fa-box"></i>
            Gym's
        </a>
        <a routerLink="/atletas" routerLinkActive="active">
            <i class="fa-solid fa-people-group"></i>
            Atletas
        </a>
        <a routerLink="/competencias" routerLinkActive="active">
            <i class="fa-solid fa-medal"></i>
            Competencias
        </a>
    </nav>

    <div class="access">
        @if (user()) {
            <div [matMenuTriggerFor]="menu">
                {{user()?.name}} {{user()?.lastName}}
            </div>
        } @else {
            <button routerLink="/login" mat-button>Iniciar sesión</button>
            <button routerLink="/registrarse" mat-button color="accent">Registrarse</button>
        }
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onClickLogout()">Cerrar sesión</button>
        </mat-menu>
    </div>
</header>
<section>
    <div class="page-container">
        <div class="page">
            <router-outlet/>
        </div>
    </div>
    <footer>
        <div class="content">
            Copyright © 2024 Novah.dev
        </div>
        <nav>
            @for (item of navItems(); track $index) {
                <a routerLink="/rms" routerLinkActive="active">
                    <div class="icon">
                        <i class="fa-solid fa-clipboard-list"></i>
                    </div>
                    <div class="name">
                        RMs
                    </div>
                </a>
            }
            <a routerLink="/ejercicios" routerLinkActive="active">
                <div class="icon">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <div class="name">
                    Ejercicios
                </div>
            </a>
            <a routerLink="/wods" routerLinkActive="active">
                <div class="icon">
                    <i class="fa-solid fa-weight-hanging"></i>
                </div>
                <div class="name">
                    WODs
                </div>
            </a>
            <a routerLink="/gyms" routerLinkActive="active">
                <div class="icon">
                    <i class="fa-solid fa-box"></i>
                </div>
                <div class="name">
                    Gym's
                </div>
            </a>
            <a routerLink="/menu" routerLinkActive="active">
                <div class="icon">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="name">
                    Menu
                </div>
            </a>
        </nav>
    </footer>
</section>