<header>
    <div class="content">
        <div class="menu-for-web">
            <button mat-icon-button [matMenuTriggerFor]="menuNav">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div class="logo-container">
            <div class="logo cursor-pointer" routerLink="/">
                Box App
            </div>
        </div>
        <nav>
            @for (item of navForWeb(); track $index) {
                <a [routerLink]="item.link" routerLinkActive="active" matRipple>
                    <div class="icon">
                        <i [classList]="item.icon"></i>
                    </div>
                    <div class="name">
                        {{item.name}}
                    </div>
                </a>
            }
        </nav>
        <div class="access">
            @if (user()){
                <div class="user cursor-pointer" [matMenuTriggerFor]="menu">
                    <div class="icon" >
                        <i class="fa-solid fa-circle-user"></i>
                    </div>
                    <div class="name">
                        {{user()?.alias ?? user()?.name + ' ' + user()?.lastName  }}
                    </div>
                    
                </div>
            } @else {
                <button routerLink="/login" mat-button>
                    <i class="fa-solid fa-user"></i>
                    <span>
                        Iniciar sesión
                    </span>
                </button>
                <button routerLink="/registrarse" mat-flat-button extended>
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span>
                        Registrarse
                    </span>
                </button>
            }
        </div>
    </div>
</header>
<mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item routerLink="/perfil">Perfil</button>
    <button mat-menu-item (click)="onClickLogout()">Cerrar sesión</button>
</mat-menu>
<mat-menu #menuNav="matMenu" xPosition="before">
    @for (item of navForWeb(); track $index) {
        <button [routerLink]="item.link" mat-menu-item>
            <i [classList]="item.icon"></i>
            {{item.name}}
        </button>
    }</mat-menu>
<section>
    <div class="page-container">
        <div class="page">
            <router-outlet/>
        </div>
    </div>
    <footer>
        <div class="content">
            <div>
                <img src="logo-novah.svg" alt="Novah.dev" height="25">
            </div>
            <div>
                Copyright © 2024 by Novah.dev
            </div>
        </div>
    </footer>
</section>